.title {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.response {
  height: 60px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  @media (max-width: '500px') {
    height: auto;
  }
}
.bloc {
  div:nth-child(1) {
    background: #14c7b4;
  }
  div:nth-child(2) {
    background: #db6fb3;
  }
  div:nth-child(3) {
    background: #f45979;
  }
  div:nth-child(4) {
    background: #ff6242;
  }
  div:nth-child(5) {
    background: #aa69d2;
  }
  div:nth-child(6) {
    background: #db6fb3;
  }
  .bloc-item {
    max-width: 340px;
    margin: 5px 3px !important;
    overflow: hidden;
    position: relative;
    img {
      transition: transform 0.5s ease;
      margin-top: 15px;
      margin: auto;
      display: flex;
      justify-content: center;
      max-height: 190px;
      width: auto;
    }
    &:hover {
      cursor: pointer;
      img {
        transform: scale(1.1);
      }
    }
  }
}
.flex-bloc {
  max-width: 100% !important;
  flex-wrap: nowrap !important;
  align-items: center;
  border-radius: 10px;
}
.datePicker {
  width: 100%;
  margin: 20px !important;
  & input:hover {
    cursor: pointer;
  }
}
.bloc-slider {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 25px;
  margin-right: 40px;
  margin-top: 25px;
  margin-bottom: 20px;
  background: transparent !important;
}
.button {
  margin-top: 10px !important;
  background-color: #14c7b4 !important;
}
.HandleComponent-outer-14 {
  background: none !important;
}
.MuiAutocomplete-endAdornment {
  background: #14c7b4 !important;
}
input {
  color: #fff !important;
}
.end-text {
  color: red;
  text-align: center;
  font-weight: 600;
}
